<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Please, define permissions in <b>bot.rb</b> file.<br>
Command: sudo chmod 777 b0t.rb<br>
</body>
</html>